<div class="TextInput">
    <textarea v-if="isMultiline"
        class="TextInput-field TextInput-field--multiline"
        v-model="value"
        :placeholder="placeholder"
        ref="field"
        :disabled="isDisabled"
        :maxlength="maxLength ? maxLength : false"
    />
    <input v-if="!isMultiline"
        class="TextInput-field"
        v-model="value"
        :placeholder="placeholder"
        ref="field"
        :disabled="isDisabled"
        :maxlength="maxLength ? maxLength : false"
    />
    <div v-if="maxLength > 0"
        v-show="charactersRemaining <= 50"
        class="TextInput-remaining"
    >
        {{charactersRemaining}}
    </div>
</div>
