<div class="Form"
    :class="{
        'Form--show': isVisible,
    }"
>
    <form @submit.prevent="send">
        <text-input
            v-model="comment"
            label="Comment"
            placeholder="What you think?"
        />
        <div class="VoteButton-container">
            <vote-button
                type="dislike"
                label="Dislike"
                :is-active="isLiked === false"
                :vote.prevent="vote(false)"
            />
            <vote-button
                type="like"
                label="Like"
                :is-active="isLiked === true"
                :vote="vote(true)"
            />
        </div>
        <submit-button
            label="Send feedback"
        />
    </form>

</div>
