<div class="Form"
    :class="{
        'Form--sending': isSending,
        'Form--show': isVisible,
        'Form--direction-up-left': direction === 'up-left',
        'Form--direction-up-right': direction === 'up-right',
        'Form--direction-down-left': direction === 'down-left',
        'Form--direction-down-right': direction === 'down-right',
    }"
    :style="style.form"
>
    <form @submit.prevent>
        <div class="Form-comment">
            <header class="Form-title">
                <div class="Badge Badge--close Badge--close-on-form"
                    v-on:click.prevent="closeForm()"
                    role="button"
                    aria-label="Close"
                    title="Close"
                    :style="style.color"
                >
                    <span class="Badge-closeIcon"></span>
                </div>

                {{title}}
            </header>
            <text-input
                class="Form-commentField"
                v-model="comment"
                :placeholder="commentPlaceholder"
                :is-focused="isVisible"
                :max-length="commentLength"
                :is-disabled="isSending"
                :is-multiline="true"
            />
            <text-input
                v-model="email"
                placeholder="Email (not required)"
                :is-focused="false"
                :max-length="254"
                :is-disabled="isSending"
                :next-value="email"
                :error="emailError"
            />
        </div>
        <div class="Form-votes">
            <vote-button
                type="dislike"
                label="Dislike"
                :is-active="isLiked === false"
                :on-click="vote(false)"
                :disabled="isSending"
                :style="style.voteDown"
            />
            <vote-button
                type="like"
                label="Like"
                :is-active="isLiked === true"
                :on-click="vote(true)"
                :disabled="isSending"
                :style="style.voteUp"
            />
        </div>
    </form>

    <div class="Form-submitMessage"
        :class="{ 'Form-submitMessage--show' : isSending }"
    >
        <span>{{submitMessage}}</span>
    </div>
</div>
