@import "../../../styles/global";

.VoteButton {
    $transition: .1s ease-out;

    display: inline-block;
    min-width: $button-size-large;
    min-height: $button-size-large;
    border-radius: $button-border-radius;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: $color-button-background;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    font-size: $font-size;

    transition:
        background-color $transition,
        background-size $transition;

    @include bp($bp-lg) {
        min-width: $button-size;
        min-height: $button-size;
        height: $button-size;
    }

    &:hover {
        background-size: 80%;
    }

    &--like {
        background-image: url('#{$icon-path}core/thumbs-up.svg');
        background-position-y: 40%;

        &:focus {
            border-color: $color-button-background-like;
        }

        &:hover {
            background-color: $color-button-background-like;
        }

        &.VoteButton--active {
            background-color: $color-button-background-like;
        }
    }

    &--dislike {
        background-image: url('#{$icon-path}core/thumbs-down.svg');
        background-position-y: 60%;

        &:focus {
            border-color: $color-button-background-dislike;
        }

        &:hover {
            background-color: $color-button-background-dislike;
        }

        &.VoteButton--active {
            background-color: $color-button-background-dislike;
        }
    }

    &--with-label {
        background-position: 95% 50%;
        margin-left: 130px;
    }
}
