$image-path: "/assets/";
$icon-path: "#{$image-path}icons/"; // using icons from https://feather.netlify.com/
$font-stack: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;

$color-button-background: #aaa;
$color-button-focus: #555;
$color-button-background-like: #00c4ff;
$color-button-background-dislike: #ff8d00;
