@import "styles/global";

.App {
    display: inline-block;
    font-family: $font-stack;
    font-weight: normal;
    color: $color-form-text;
    z-index: $z-index;
    * {
        box-sizing: border-box;
    }

    @include bp($bp-lg) {
        position: relative;
    }
}

.page-prevent-scroll {
    overflow: hidden;
}
